.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
   box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0;
    border: 0;
}

.gameContainer{
    display: grid;
    height: 400px;
    width: 500px;
    margin: 20px auto;
    color: #fff;
    border: 1px solid #2c3e50;
    border-radius: 10px;
    grid-template-areas: none;
        box-sizing: border-box;
    grid-template: repeat(8, 1fr)/repeat(8, 1fr);
    background: #c8d8e7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c8d8e7 , #FD746C); 
    background: linear-gradient(to left, #c8d8e7 , #FD746C);
    
}
.boradcell {
    border: 1px solid #2c3e50;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
 
/*    width: calc(12%);
    color:#fff;
        display: flex;
    background: #fff;
    height: 12vh;*/
}
.bordeCellClose{
    background-image: url("images/question.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.bordeCellArrow{
  height: 100%;
  width: 100%;
    background-image: url("images/arrow.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.bordeCellDiamond{
    background-image: url("images/diamond.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.gameResume{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(255,255,255,0.9)
}

